@tailwind base;
@tailwind components;
@tailwind utilities;
 
 /* :root{
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: white;
    --textSoft: #b7bac1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a{
    color: inherit;
    text-decoration: none;
}  */

:root{
    --bg: #2e374a;
    --bgPreto: #2e374a;
    --bgSoft: #1E3A8A; /* azul padrao */
    --bgAzulClaroBootstrap: #CFE2FF;
    --bgCinza: rgb(223, 221, 221);
    --text: white;
    --textSoft: #black;
    --aliceBlue: aliceblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: #333; /* Define a cor do texto para cinza escuro */
}

